body {
    background-color: #EBECEE;
}

.user-title {
    position: relative;
    width: 100%;
}

.user-title img {
    width: 100%;
}

.user-title a {
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 30%;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.qianbao {
    background-color: white;
    margin-bottom: 20px;
}

.qianbao .mui-table-view {
    height: 50px;
}

.qianbao .mui-table-view .mui-table-view-cell {
    height: 50px;
}

.qianbao .mui-table-view .mui-table-view-cell .mui-navigate-right {
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.qianbao .mui-table-view .mui-table-view-cell .mui-navigate-right span {
    float: right;
    font-size: 14px;
    margin-right: 25px;
    line-height: 28px;
    color: #ccc;
}

.qianbao .mui-table-view .mui-table-view-cell .mui-navigate-right img {
    height: 100%;
}

.qianbao .qiaobao-box {
    height: 80px;
}

.qianbao .qiaobao-box dl {
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.qianbao .qiaobao-box dl dd {
    padding-top: 4%;
    text-align: center;
    width: 25%;
    height: 100%;
}

.qianbao .qiaobao-box dl dd span {
    display: block;
    width: 100%;
    font-size: 18px;
    color: black;
    margin-bottom: 8px;
}

.qianbao .qiaobao-box dl dd h6 {
    width: 100%;
}

.mui-table-view {
    margin-bottom: 20px;
}

.mui-table-view .mui-table-view-cell {
    height: 50px;
}

.mui-table-view .mui-table-view-cell .mui-navigate-right {
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.mui-table-view .mui-table-view-cell .mui-navigate-right span {
    float: right;
    font-size: 14px;
    margin-right: 25px;
    line-height: 28px;
    color: #ccc;
}

.mui-table-view .mui-table-view-cell .mui-navigate-right img {
    height: 100%;
    width: 10%;
    margin-right: 5px;
}

.line {
    width: 100%;
    height: 20px;
}

.gife {
    width: 100%;
    height: 80px;
    background-color: white;
}

.gife .gife-box {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    padding-top: 20px;
    padding-left: 14px;
    border-right: 1px solid #EBECEE;
}

.gife .gife-box h5 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
}

.gife .gife-box a {
    width: 45px;
    height: 20px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #87BFF4;
    color: #87BFF4;
    position: absolute;
    top: 10px;
    right: 20px;
}

.banding {
    height: 100px;
    padding: 30px 15px;
    position: relative;
    background-color: white;
}

.banding h4 {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
}

.banding img {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 80%;
}